@media screen and (max-width: 880px)

  .ContactFormTitle
    margin: 0 0 20px 0

  .AwesomeFormBox
    width: 80%

    margin: 0

    justify-content: center

  .AwesomeFormInput
    width: 60%
    height: 29px

    margin: 0

    font-size: 20px

  .AwesomeFormButton
    width: 35px
    height: 35px

    margin: 0 0 0 17px

    background:
      size: 20px