@media screen and (max-width: 880px)
  .HeaderComponentTitle
    font-size: 2.2em

  .TryItButton
    width: 180px
    height: 37px

  .TryItButtonText
    font-size: 1.5em

  .TryItButtonImg
    width: 20px
    height: 20px
