.HeaderComponent
  width: 100%
  height: 100vh

  display: flex
  flex-direction: column
  align-items: center
  justify-content: flex-start

  background:
    image: url("../images/HeaderBG.png")
    size: cover
    repeat: no-repeat

.HeaderComponentTitle

  margin: 10% auto 54px auto

  cursor: default

  color: #fff
  font-size: 11.68vw
  font-family: CONTF, sans-serif
  font-weight: normal

  display: flex
  align-items: center
  justify-content: center

.TryItButton
  width: 45%
  height: 120px

  outline: 7px solid #fff

  color: #ffffff

  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-evenly

.TryItButtonText
  font-family: CONSOLA, sans-serif
  font-size: 5vw
  font-weight: normal