.HeaderComponent
  width: 100%
  height: 100vh

  display: flex
  flex-direction: column
  align-items: center
  justify-content: flex-start

  background:
    image: url("../images/HeaderBG.png")
    size: cover
    repeat: no-repeat

.HeaderComponentTitle
  height: 167px

  margin: 10% auto 54px auto

  cursor: default

  color: #fff
  font-size: 6.5em
  display: flex
  align-items: center
  justify-content: center

.TryItButton
  width: 587px
  height: 120px

  outline: 7px solid #fff

  color: #ffffff

  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-evenly

.TryItButtonText
  font-size: 69px