=headerForComponents
  width: 100%

  margin: 90px 0 83px 0

  text-align: center

  font-family: CODAB, sans-serif
  font-size: 60px
  color: #fff

  @media screen and (max-width: 880px)
    margin: 11px 0

    font-size: 25px
