.ThemeTrigger
  width: 135px
  height: 57px

  padding: 0 4px
  margin: 34px 27px 0 auto

  align-self: flex-end

  border: 3px solid #fff
  border-radius: 31.5px

  display: flex
  flex-direction: row
  align-items: center
  justify-content: flex-start

  background:
    image: url("../images/icons/ThemeIcon.svg")
    repeat: no-repeat
    position-x: 84px
    position-y: 7px

.TriggerCircle
  width: 55px
  height: 55px

  border-radius: 50%

  background: rgba(0, 194, 255, 0.75)
  cursor: pointer