* {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: CONTF;
  src: url("../fonts/CONTF.TTF") format("truetype"); }

@font-face {
  font-family: CONSOLA;
  src: url("../fonts/CONSOLA.TTF") format("truetype"); }

@font-face {
  font-family: CODAR;
  src: url("../fonts/CODA-Regular.ttf") format("truetype"); }

@font-face {
  font-family: CODAB;
  src: url("../fonts/CODA-ExtraBold.ttf") format("truetype"); }

.HeaderComponent {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-image: url("../images/HeaderBG.png");
  background-size: cover;
  background-repeat: no-repeat; }

.HeaderComponentTitle {
  margin: 10% auto 54px auto;
  cursor: default;
  color: #fff;
  font-size: 11.68vw;
  font-family: CONTF, sans-serif;
  font-weight: normal;
  display: flex;
  align-items: center;
  justify-content: center; }

.TryItButton {
  width: 45%;
  height: 120px;
  outline: 7px solid #fff;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly; }

.TryItButtonText {
  font-family: CONSOLA, sans-serif;
  font-size: 5vw;
  font-weight: normal; }

.GeneralBackgroundBlock {
  width: 100%;
  height: auto;
  overflow-x: hidden;
  overflow-y: hidden; }

.GeneralBackgroundImage {
  width: 100%;
  position: absolute;
  top: 100vh;
  left: 0;
  z-index: -1;
  background: linear-gradient(90deg, #2DACE2 0%, #4A00E0 100%, #4A00E0 100%); }

.ThemeTrigger {
  width: 135px;
  height: 57px;
  padding: 0 4px;
  margin: 34px 27px 0 auto;
  align-self: flex-end;
  border: 3px solid #fff;
  border-radius: 31.5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-image: url("../images/icons/ThemeIcon.svg");
  background-repeat: no-repeat;
  background-position-x: 84px;
  background-position-y: 7px; }

.TriggerCircle {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: rgba(0, 194, 255, 0.75);
  cursor: pointer; }

.HowItWorksMainBox {
  width: 95%;
  height: auto;
  margin: 90px auto 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly; }

.HowItWorksText {
  width: 40%;
  height: auto;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

.HowItWorksTitle {
  font-size: 2vw;
  font-family: CODAB, sans-serif; }

.HowItWorksParagraph {
  color: #B0FFDE;
  font-family: CODAR, sans-serif;
  font-size: 22.7356px;
  line-height: 32px;
  letter-spacing: 0.1em; }

.HowItWorksImageBox {
  width: 50%;
  height: 100%; }

.HowItWorksImage {
  width: 100%; }

.OurAdvantages {
  width: 100%;
  height: auto;
  margin: 146px 0 0 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly; }

.AdventageItem {
  min-width: 465px;
  width: 25%;
  height: 196px;
  margin: 10px 0 0 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start; }

.AdventageItemIconBlock {
  width: 196px;
  height: 196px;
  margin: 0 40px 0 0; }

.AdventageItemIcon {
  width: 196px;
  height: 196px; }

.AdventageTextBox {
  margin: 35px 0 0 0;
  color: white; }

.AdventageHeader {
  font-family: CODAB, sans-serif;
  font-size: 1.5vw;
  letter-spacing: 0.1em; }

.AdventageParagraph {
  color: #B0FFDE;
  font-family: CODAR, sans-serif;
  line-height: 26px;
  letter-spacing: 0.1em; }

@media screen and (max-width: 880px) {
  .TryItButton {
    height: 37px; }
  .TryItButtonImg {
    width: 20px;
    height: 20px; } }

@media screen and (max-width: 880px) {
  .ThemeTrigger {
    width: 40px;
    height: 20px;
    background-size: contain;
    background-position-x: 25px;
    background-position-y: 0; }
  .TriggerCircle {
    width: 17px;
    height: 17px; } }

@media screen and (max-width: 880px) {
  .OurAdvantages {
    margin: 0; }
  .AdventageItem {
    min-width: 320px;
    width: 95%;
    height: 100px;
    margin: 15px 0 15px 0; }
  .AdventageItemIconBlock {
    width: 100px;
    height: 100px; }
  .AdventageItemIcon {
    width: 100px;
    height: 100px; }
  .AdventageTextBox {
    margin: auto 0; }
  .AdventageHeader {
    font-size: 18px;
    letter-spacing: 0.1em; }
  .AdventageParagraph {
    font-size: 12px; } }

@media screen and (max-width: 880px) {
  .HowItWorksMainBox {
    width: 100%;
    height: 202px;
    margin: 0 auto;
    padding: 0 10px;
    background-image: url("../images/ArticleIMG.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
  .HowItWorksText {
    width: 100%;
    height: auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start; }
  .HowItWorksTitle {
    font-size: 27.9762px;
    line-height: 40px;
    letter-spacing: 0.1em;
    font-family: CODAB, sans-serif; }
  .HowItWorksParagraph {
    color: #B0FFDE;
    font-family: CODAR, sans-serif;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.1em; } }
